* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}



html {
  scroll-behavior: smooth;
  font-size: 16px;
}


body {
  height: 100vh;
  min-height: 100%;
  font-family: 'Inter', Roboto, sans-serif;
  background-color: #112240;
  cursor: url("data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAmaNSAOz1tQAkWG4Ay95QAGp1IAAiJgUAG0hcADJxjAA5QAoAX2kcAE5XEgBCkbMAdYIhAD1FCwD/9cIAAAAAAAAAAAAAAAAAAJmZZgAAAAAAAAAAAAAAAACZmWYAAAAAAAAAAAAAAAAAmapmAAAAAAAAAAAAAAAAAJmqZgAAAAAAAJmZAAAAADOIZmYAAAAAAACZmQAAAAAziGZmAAAAAAAAmaqZmQAzzHcAAAAAAAAAAJmqmZkAM8x3AAAAAAAAAAAAmVVVmYh3AAAAAAAAAAAAAJlVVZmIdwAAAAAAAAAAAAAAZlW7ZgAAAAAAAAAAAAAAAGZVu2YAAAAAAAAAAAAAAJlEu+7uZgAAAAAAAAAAAACZRLvu7mYAAAAAAAAAAACZRN1EZu5mAAAAAAAAAAAAmUTdRGbuZgAAAAAAAAAAmUQRRGYAZu5mAAAAAAAAAJlEEURmAGbuZgAAAAAAAJkiEURmAAAAZmYAAAAAAACZIhFEZgAAAGZmAAAAAACZIhFEZgAAAAAAAAAAAAAAmSIRRGYAAAAAAAAAAAAAmf8RRGYAAAAAAAAAAAAAAJn/EURmAAAAAAAAAAAAAJkiEURmAAAAAAAAAAAAAACZIhFEZgAAAAAAAAAAAACZIhEiZgAAAAAAAAAAAAAAmSIRImYAAAAAAAAAAAAAAJkiImYAAAAAAAAAAAAAAACZIiJmAAAAAAAAAAAAAAAAmWZmAAAAAAAAAAAAAAAAAJlmZgAAAAAAAAAAAAAAAAD////A////wP///8D////A//D/AP/w/wD/8AwP//AMD//8AD///AA///8A////AP///AA///wAP//wAD//8AA//8AMD//ADA//AD8P/wA/D/wA///8AP//8AP///AD///AD///wA///wA///8AP///AP///wD///8D////A////w=="),
    auto;
}

main {
  flex: 1; 
}

a,
button {
  cursor: url("data:image/x-icon;base64,AAACAAEAICAAAAAAAACoDAAAFgAAACgAAAAgAAAAQAAAAAEAGAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADqaInfYYTWXoDLYX6SM06OMUwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD2ao/0ZovmYobgZYWlNVOcNVEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD6bJH/aZH/eZ/+eZrBPF26O1sAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADnY4jvZIbudpX0d5e5PFy5PFwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACdXGymV2qpWGurWm0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACvUImqUIu6ZqCdZZayO1qrO1mnN1WnN1UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACdV2imWW6sWnCuXHIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACXTX2XSX6PXI6dY5mMM0aXMkuXMkuXMksAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACZVGieV2ixanu8an2yW2/EXXjRX33SYYIAAAAAAACgTYGXTHqnermderKDMVx1Lk8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACUVmaVV2W3aHu7an21WnPHXXrTYIHbYn4AAAAAAACdS3yNSXieeraTerJyL1R0LkwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACiV2yqWnHniKP4jKn/j638kbHUX3rGXXiUY5uTYpZwLlFwL08AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACyWW2wXHTui6X9j6v9jqr+janBXXO4WnOPYJGLXZJqLlBqLlAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACkOFWpOVf0hqL0janSb4nCaYOGL0l7MUMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAClN1OmNlTsgJ3zi6rFaoS/ZH2DL0d+LkUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADKX3nKXnv7j6b5j6bZdI3Nb4i4WHa7YnyoWW6kV2x3L0N5L0EAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC+XXjAXXfyjqrvjKbKb4jDcIaqV22nVWulWG2lWG15L0F2MEEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACbWmmtWnPoh6LbiJ7zorvvobjRiJ7Hg5RyLj9pKDiZVWaZVWZxLT5vLj4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACmWW6uWnLaiJ7Wh5zjn7bcn7PEhZm3gZJhKzxZJTaFU1+FU19eKTdeKTcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACaVGWfV2vYiZ7YiZ7+wdX/wc/DhJS5hJJiJzZbKzcAAAAAAABTKjJYKTJ5UV13Tl1IIi5HJi0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACjVmuuV3HmiaTWiJ//wNX8wdC8g5K8gZBOKTNXLDUAAAAAAABNKzJMKzJ0T1lrTVg4ICg8JisAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACVV2WnWGvwnLT7o8H8wt71tcvMhJrGgZVnLj1pLDoAAAAAAAAAAAAAAAAAAAAAAABDISg6ICYzIiYxIyUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACeVmqxVm/znbv3p8b1vNX/yd3JhZbChJZrLT1iMDwAAAAAAAAAAAAAAAAAAAAAAABGKC06KSwzIiUzJigAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACZWGieWW33o7z4p8L/yuj7vdv2pcDonLR0LUFqLD4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACqWnGxXXb6qMX6qsn/wN//w93inbLxrsNtLj5vKzwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACcWWiwWnL/pcL9pcP/x+T5x+X5pcHto7uBMEN0LT4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAChWW26Wnj/p8X8p8f/xuT/x+T8pML2oL5/MEV0LT0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACZVmWeWW79o8D+qMb/x+T/xuT9qMj/psSXMkt8NUYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACiVmixWHL+psT8qcn9x+X/x+T/psT/o8KPMUqDMEYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACfVmaaWWnumLD2oL7/y+r9xOP9qsr7rMeOL0qHL0YAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACaVmewWG//p8H8qMr8w+L5zOf9psf/osCFM0qJMkYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAClWmq3W3T/yuf6xOH6qcrypcGgNFGRM0sAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACpV220W3X/xN74y+b/pMP/t9GQNU6HNUgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACtWXG9WnSQMUyjMU+LM0uKM0cAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC+W3XHXnmbMk2QNU6QMkuCNEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD////A////wP///8D////A//D/AP/w/wD/8AwP//AMD//8AD///AA///8A////AP///AA///wAP//wAD//8AA//8AMD//ADA//AD8P/wA/D/wA///8AP//8AP///AD///AD///wA///wA///8AP///AP///wD///8D////A////w=="),
    pointer;
  transform: translateX(1.5);
}

a:focus-visible {
  outline: 2px solid #64ffda;
  outline-offset: 4px;
}


/* ==============
Abbreviations
===============*/
abbr {
  text-decoration: none;
  cursor: help;
}
