* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #112240;
  color: #ffffff;
  scroll-behavior: smooth;
  
}

body {
  line-height: 1.6;
}

header {
  margin-top: 0;
  padding-top: 1rem;
}


a {
  color: #64ffda;
  text-decoration: none;
}


/* ==============
Main Container
===============*/
main {
  background-color: #0a192f;
}
.main-container {
  max-width: 1150px;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0 2rem;
  margin-bottom: 1rem;

}

/* ==============
Resume Section
===============*/
.resume-section {
  width: 100%;
  max-width: 1100px;
  min-width: 350px;
  background-color: #112240;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(100, 255, 218, 0.12);
  margin: 1.5rem auto;
  margin-bottom: 2rem;
}
.resume-header {
  width: 100%;
  text-align: center;
}
.resume-title {
  display: inline-block;
  font-size: 2.25rem;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #64ffda;
  color: #fff;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 4px rgba(100, 255, 218, 0.9));
}

.resume-title:hover {
  transform: scale(1.1);
}

.resume-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

/* ==============
Left & Right Columns
===============*/

.resume-column h3 {
  font-size: 1.12rem;
  color: #64ffda;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  filter: drop-shadow(0 0 4px rgba(100, 255, 218, 0.75));
}

.resume-column ul {
  list-style: none;
  padding-left: 0;
}

.resume-column li {
  margin-bottom: 0.5rem;
  font-size: 1.12rem;
  color: #cdd6f4;
}

.resume-column p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* ==============
Resume Image
===============*/

.image-crop-wrapper {
  height: 300px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  margin: 0 auto 25px;
}

.image-crop-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.6);
}

/* ==============
download Button
===============*/

.resume-download-wrapper {
  text-align: left;
  margin-bottom: 1.5rem;
}

.resume-download {
  display: inline-block;
  padding: 0.65rem 1.25rem;
  border: 2px solid #64ffda;
  border-radius: 6px;
  color: #64ffda;
  font-weight: 550;
  background: transparent;
  transition: background 0.3s ease, color 0.3s ease;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.resume-download:hover {
  background-color: #64ffda;
  color: #0a192f;
}

/* ==============
Education
===============*/
.education p {
  font-size: 1rem;
  margin-bottom: 0;
}
/* ==============
Experiences & References 
===============*/

.experience-item {
  margin-bottom: 1.5rem;
}

.experience-item:last-child {
  margin-bottom: 0;
}

.job-title::before {
  content: "➜";
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: #64ffda;
  display: inline-block;
  transition: transform 0.3s ease;
}

.job-title:hover::before {
  transform: scale(1.2);
}

.job-title {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
}

.job-summary,
.job-dates {
  margin-left: 1.3rem;
  font-size: 0.95rem;
  color: #ccc;
}

.experience-and-references {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
/* Friggin line under the h3s */
.experience-and-references::before {
  content: "";
  position: absolute;
  top: 2.4rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 0.1rem;
}

.experience-and-references h3 {
  border-bottom: none;
}

.experience,
.references {
  flex: 1;
}
.references h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ref-name {
  display: flex;
  align-items: center;
  color: #fff;
}
.ref-name::before {
  content: "➜";
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: #64ffda;
  display: inline-block;
  transition: transform 0.3s ease;
}

.ref-name:hover::before {
  transform: scale(1.2);
}
.ref-position,
.ref-pow,
.ref-contact,
.ref-location {
  margin-left: 1.25rem;
  font-size: 0.95rem;
  color: #ccc;
}
.reference-item {
  margin-bottom: 1.5rem;
  color: #ccc;
}

/* ==============
Responsive Design
===============*/

/* Desktop Media Query */
@media (min-width: 861px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .resume-grid {
    grid-template-columns: 1fr 1fr;
  }

  .resume-download-wrapper {
    margin-top: 1rem;
    width: 100%;
  }
  
  .resume-download {
    width: 100%;
    text-align: center;
  }

  .experience-and-references {
    flex-direction: row;
    gap: 3rem;
    margin-top: 2.2rem;
  }

  .references h3 {
    border-bottom: none;
  }
  .resume-section {
    margin: 1rem auto;
    margin-bottom: 2rem;
  }
  
  .education {
    margin-bottom: 2rem;  
    margin-top: -.4rem;
  }
  
  .education p {
    font-size: 1.05rem;
    margin-bottom: 0;
  }
  .education-start {
    margin-bottom: 0.4rem;
  }
  .education-start,
  .education-degree {
    color: #ccc;
  }
}

/* well if you've gotten to this point you've probably realized that I got lazy and started mobile first, 
but because the design was so good on desktop, I cooked up this monstrosity below, (now when I think about 
it I should have just transferred the styles over to the desktop media query but whatever)

My approach required the use of untraditional breakpoints because I grouped the tablet and mobile into one 
media query, with the desktop media query starting the following pixel */

/* Tablet & Media... Media Query */
@media (max-width: 860px) {
  
  .image-crop-wrapper {
    display: none !important;
  }
  .resume-img {
    display: none !important;
  }
  .resume-section {
    margin-bottom: 2.5rem;
  }

  .experience-item {
    background-color: #112240;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(100, 255, 218, 0.2);
    font-size: 3rem;
    background-color: #0a192f;
  }
  .job-title {
    font-size: 1.2rem;
  }
  .job-summary, .job-dates {
    font-size: 1.01rem;
  }

  .reference-item {
    background-color: #112240;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(100, 255, 218, 0.2);
    font-size: 1.2rem;
    background-color: #0a192f;
  }
  .ref-position, 
  .ref-pow,
  .ref-contact,
  .ref-location {
    font-size: 1.01rem;
  }

  .education-item {
    background-color: #0a192f;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(100, 255, 218, 0.2);
    font-size: 1.2rem;
  }

  .school-name::before {
    content: "➜";
    margin-right: 0.4rem;
    font-size: 0.8rem;
    color: #64ffda;
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .school-name:hover::before {
    transform: scale(1.2);
  }

  .education p {
    font-size: 1.2rem;
    margin-left: 0;
  }
  .education-start,
  .education-degree {
    margin-left: 1.5rem;
    font-size: 1rem;
    color: #ccc;
  }
  .resume-download-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
  }
  
  .resume-download {
    display: block;
    width: 100%;
    text-align: center;
  }

}
