
::-webkit-scrollbar {
  width: 9px; 
  background-color: rgba(150, 150, 150, 0.4);
}

::-webkit-scrollbar-track {
  background-color: rgba(150, 150, 150, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; 
  transition: background-color 0.3s ease;
  background-color: #64ffda;
  
}
